<!DOCTYPE html>
<html>
    <head>
        <title>Contact Me</title>
    </head>
    <body>
        <h1>Contact Me</h1>
        <p>
            Email: <a href="mailto:fluentaiacademy254@gmail.com">fluentaiacademy254@gmail.com</a>
        </p>
        <p>
            Phone: +254 707 120 876
        </p>
        <p>
            LinkedIn: <a href="https://www.linkedin.com/in/masara-nelson-5baaa7270?utm_source=share_via&utm_content=profile&utm_medium=member_android">https://www.linkedin.com/in/masara-nelson-5baaa7270?utm_source=share_via&utm_content=profile&utm_medium=member_android
</a>
        </p>
    </body>
</html>
